body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #3333331c;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

header {
    text-align: center;
    padding: 1em 0;
}


.profile-pic {
    width: 100px; /* ou a largura desejada */
    height: 190px; /* ou a altura desejada, deve ser igual à largura para um círculo perfeito */
    border-radius: 50%; /* Isso cria o efeito arredondado */
    object-fit: cover; /* Isso garante que a imagem cubra toda a área, útil para imagens não quadradas */
    border: 2px solid #f0544f; /* Opcional: adiciona uma borda branca */
}


header h1 {
    margin: 10px 0 5px 0;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
h1{
    font-weight: bold;
    color: #333;
    font-size: 2.0em;
}

a {
    text-decoration: none;

}

p {
    
    font-size: 1.2em;
}

nav {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky; /* Torna a navbar fixa */
    width: 100%; /* Garante que a navbar ocupe a largura total */
    top: 0;
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
    transition: box-shadow 0.3s ease;
    border-bottom: 1px solid #f0544f;
}

nav.scrolled {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #666;
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.93em;
    margin-right: 90px;
}

nav ul li a.active {
    color: #f0544f; /* Cor de destaque para o item ativo */
}

.container{
    margin: 0px 190px;
    background-color: white;
}

section {
    text-align: center;
}

#sobre-mim{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.my-data, .my-info {
    flex: 1; /* Faz com que ambas as divs tenham o mesmo tamanho */
}



.my-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-right: 10px double #f0544f; 
}

.my-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1400px) {
    #sobre-mim {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
    }
    .my-data{
        border-right: none; /* Remove a borda da direita em telas menores */
        border-bottom: 10px double #f0544f; /* Adiciona a borda na parte inferior */
    }
    .my-info{
        border-bottom: 10px double #f0544f; /* Adiciona a borda na parte inferior */

    }
}


.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }
  
  .socials .social-item {
    display: block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff7a57;
    color: #ff7a57;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  .socials .social-item:hover {
    background: #ff7a57;
    color: #fff;
  }

.custom-button {
    background-color: #333; /* Fundo preto */
    color: #fff; /* Texto branco */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 30px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de ponteiro para indicar que é clicável */
    transition: background-color 0.3s ease; /* Transição suave para o hover */
    margin-bottom: 20px;
}

.custom-button:hover {
    background-color: #424242; /* Cor de fundo mais clara no hover */
}

h2{
    font-size: 1.2em;
    color: #333;
    margin: 10px;
}


ul{
    text-align: left; /* Alinha os itens à esquerda */
    color: black;
    margin-left: 45px;
}

/*CARD CONTAINER*/



.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 330px;
    height: 450px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}

.card img {
    height: 110px;
    margin: auto;
    display: block;
}

.card-info {
    padding: 15px;
}

.card-info h3 {
    margin-top: 0;
    color: #005f73;
}

.card-project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card p{
    text-align: justify;
    color: black;
    font-size: 0.9em;
    margin: 0px 22px;
}

.card-project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 330px;
    height: 330px;
}

.card-project:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}

#balta-cert {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-text {
    padding: 15px;
}

section#contato form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

section#contato input, section#contato textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section#contato button {
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section#contato button:hover {
    background-color: #444444;
}


/*SKILLS COMEÇA AQUI*/

#skills {
    text-align: center;
    margin: 10px 0;
}

#descricao-skills{
    text-align: justify;
    margin: 0px 45px;
}


#skills p {
    font-size: 1em;
    color: black;
    margin-bottom: 20px;
}

.skill-container {
    width: 90%;
    margin: auto;
}

.skill {
    margin: 20px 130px;
}



.skill-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.skill-fill {
    display: block;
    height: 100%;
    background-color: #f0544f;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0544f;
    color: white;
}

footer p {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

/* Restante dos estilos */


.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.carousel-track-container {
    width: 100%;
}

.carousel-track {
    list-style: none;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease; /* Adiciona a transição suave */
}

.carousel-slide {
    min-width: 300px; /* Largura de cada slide do carrossel */
    margin-right: 50px; /* Espaçamento entre os slides */
}

/* Estilização dos botões Anterior e Próximo */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

